.projects{
    background-color: #242424;
}

.container{
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vh;
    padding-top: 3rem;
}

.title_pro{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
}
.project{
    display: flex;
}

.card_data{
    background-color: #181a1b;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0,0,0,.75);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.contenedor_card{
    display: flex;
    justify-content: center;
   
}
.img_pro{
    height: 250px;
    width: 100%;
    border-radius: 5px;
}