@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  color: #e8e6e3;
}

.title2 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 24px;
  color: #e8e6e3;
}

.descripcion_two {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.proyectos_pa {
  margin: 10px 0;
}

.botonProyectos {
  color: #242424;
  border: none;
  background-color: rgb(47, 255, 92);
  text-decoration: none;
  border-radius: 6px;
  padding: 0.75em 1.25em;
  font-size: 1.3rem;
}

.encabezado {
  padding: 2rem;
}
.description {
  font-family: 'Roboto', sans-serif;
  color: #848484;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.content_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.proyectos_pa{
  font-family: 'Roboto', sans-serif;
  color: #e8e6e3;
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.nameskill{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  color: #e8e6e3;
}
.skill_block {
  position: relative; /* Agrega posición relativa */
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: #242424;
  border-radius: 5px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  
}

.myskill {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 24px;
  color: #e8e6e3;
  padding-bottom: 1rem;
}

.logo_img {
  display: none;
  position: absolute;
  top: -110px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100px; 
  height: 105px; 
  border-radius: 5px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  background-color: rgb(255, 255, 255); 
  transition: opacity 0.5s ease

}

.contiene_img {
  width: 100%; /* Ocupa todo el ancho de su padre */
  height: 100%; /* Ocupa todo el alto de su padre */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.logo {
  width: 100%;
  height: auto;
  padding: 1rem;
}
.skill_block:hover .logo_img {
  display: block;
  opacity: 1; 
  animation: aparecer 0.45s linear;

}

@keyframes aparecer{
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}