.content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2.4rem;
}

.title2 {
  font-size: 1.5rem;
}

.descripcion_two {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.proyectos_pa {
  margin: 10px 0;
}

.botonProyectos {
  color: #242424;
  border: none;
  background-color: rgb(47, 255, 92);
  text-decoration: none;
  border-radius: 6px;
  padding: 0.75em 1.25em;
  font-size: 1.3rem;
}

.encabezado {
  padding: 2rem;
}
.description {
  text-align: center;
  font-size: 1.2rem;
}
.content_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.skill_block {
  padding: 1rem 2rem;
  font-size: 1rem;
  background: #242424;
  border-radius: 5px;
  font-weight: 600;
  color: #ffffff;
}

.myskill {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
